.rating {
  display: flex;
  justify-content: center;
  align-items: flex-start; // Змінено на flex-start замість left для SCSS
  font-size: 12px;
  z-index: 2;
  margin-right: 86%;
  margin-bottom: 3%
}

// Визначаємо стилі для Radio
.rating__radio {
  display: none;
  z-index: 2;

}

// Визначаємо стилі для Rating
.rating__star {
  cursor: pointer;
  display: flex;
  z-index: 2;

}
